#goldilocks {
  background-image: url(../img/latte_art.gif);
  height: 150px;
  background-repeat: no-repeat;
  background-position: left;
  background-color: #1a0a00;
  box-shadow: 10px 0px 10px 10px #1a0a00;
}

h3 {
  /*float: left;*/
  /*margin: 45px;
  padding-top: 20px;*/
  color: #cc5200;
  font-family: Yanone Kaffeesatz;
  font-size: 24pt;
  padding-left: 8%;
  text-shadow: 2px 2px white;
}

#line-two {
  padding-left: 5px;
  padding-top: 20px;
  color: #cc5200;
  font-family: Yanone Kaffeesatz;
  font-size: 30pt;
}

.address {
  font-style: italic;
  font-size: medium;
}

body {
  background-image: url(../img/portafilter.jpg);
  background-size: cover;
  background-attachment: fixed;
}

p {
  padding-left: 8%;
  font size: 20px;
  color: white;
}

#line-two {
  float: right;
  margin-right: 10%;
}

h1 {
  font-size: 50px;
  text-align: center;
}

#collect {
  /*transition-duration: 50s;*/
  transition: opacity 0.5s;
  margin-bottom: 30px;
}

.coffee_shop {
  display: none;
}

.form-control {
  color: black;
  opacity: 0.4;
  filter: alpha(opacity=40);
  width: 50%;
}

.radio {
  color: white;
}

label {
  color: #cc5200;
  float: left;
}

/*.col-sm-5 {
  float: left;
}*/

strong {
  color: #cc5200;
}

input[type=radio] {
  color: #cc5200;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

#output {
  display: none;
  background-image: url(../img/beans.jpg);
  padding: 55px;
}

#output img {
  display: block;
  margin-left: auto;
  margin-right: auto
}

#output h2 {
  text-align: center;
}

#output h2 {
  color: white;
  font-family: "Slabo 27px", serif;
}
#output h4 {
  padding-left: 8%;
  color: #cc5200;
  font-family: Yanone Kaffeesatz;
  font-size: 24pt;
}

img {
  border-width: thick;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
}

button {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border-color: gray;
  color: #1a0a00;
  text-align: center;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bolder;
  background: linear-gradient(to bottom right,#cc5200, tan, #cc5200);
}

#map {
  width: 1000px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  border-width: thick;;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
}
