.address{
  font-style: italic;
  font-size: medium;

}

p{
    margin-right: 300px;
    font size: medium;


}
h4{

float: right;
  margin: 45px;
  padding-top: 20px;
    color: #cc5200;
    font-family: Yanone Kaffeesatz;
    font-size: 18pt;


}

body {
    background-image: url(../img/portafilter.jpg);
    background-size: cover;
    background-attachment: fixed;
  }

#line-two {
  float: right;
  margin-right: 10%;
}

h1 {
  font-size: 50px;
text-align: center;
}

#goldilocks {
  background-image: url(../img/latte_art.gif);
  height: 150px;
  background-repeat: no-repeat;
  background-position: left;




}
#output {
  display: none;
  -webkit-transition-duration: 20s; /* Safari */
  transition-duration: 20s;
}

.coffee_shop {
  display: none;
}

#collect{

  -webkit-transition-duration: 20s; /* Safari */
transition-duration: 20s;
}

.form-control {
  color: #black;
  opacity: 0.4;
    filter: alpha(opacity=40);
    width: 50%;
}

.radio {
  color: white;
}

label {
  color: #cc5200;
  float: left;

}

col-sm-3 {
  float: left;
}

strong {
  color: #cc5200;

}

input[type=radio] {
  color: #cc5200;
  opacity: 0.4;
    filter: alpha(opacity=40);
}

img {
  border-width: thick;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
}
